@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Моделирование полидисперсных наносистем</h1>
    <p style="text-align:justify">
        Современные научные исследования в области нанотехнологий и материаловедения активно изучают 
        полидисперсные наносистемы, которые представляют собой сложные структуры, состоящие из частиц различного 
        размера и формы. Эти системы обладают уникальными физико-химическими свойствами, что делает их перспективными 
        для применения в таких областях, как медицина, электроника, экология и энергетика. Однако, несмотря на их 
        значимость, моделирование полидисперсных наносистем представляет собой сложную задачу, требующую глубоких 
        знаний в области физики, химии и численных методов. Существующие подходы к моделированию полидисперсных систем 
        часто сталкиваются с рядом проблем, таких как высокая вычислительная сложность, необходимость учета 
        взаимодействий между частицами различного размера и формы, а также недостаток доступных инструментов для 
        визуализации и анализа результатов.
    </p>
    <img src="~/img/image.png"/>
</div>
