@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Добро пожаловать в наше веб-приложение для моделирования полидисперсных наносистем! 
    Мы ценим ваше доверие и стремимся обеспечить максимальную прозрачность в отношении обработки ваших данных.</p>
<h2>1. Какие данные мы собираем?</h2>
<p>Наше веб-приложение не собирает, не хранит и не обрабатывает какие-либо персональные данные пользователей. 
    Мы не используем базы данных, cookies или другие технологии для отслеживания вашей активности.</p>
<h2>2. Как мы используем данные?</h2>
<p>
    Поскольку мы не собираем и не храним данные пользователей, никакая информация не используется или передается третьим лицам. 
    Ваша работа в приложении полностью конфиденциальна.</p>
<h2>3. Изменения в политике конфиденциальности</h2>
<p>
    Мы оставляем за собой право обновлять данную политику конфиденциальности в будущем. 
    В случае внесения изменений, мы уведомим вас, разместив обновленную версию на этой странице.</p>
<h2>5. Контакты</h2>
<p>
    Если у вас возникли вопросы или предложения относительно нашей политики конфиденциальности, 
    пожалуйста, свяжитесь с нами по адресу: mpn@gmail.com.
    Благодарим за использование нашего веб-приложения!</p>