@page
@model MPN.Pages.SystemPageModel
@{
    
}
<div style="position: relative; min-height: 500px;">
    @Html.Raw(Model.HtmlContent)
    <div style="display: flex; justify-content: center;width:100%">
    <button class="btn btn-primary" type="submit">Скачать данные системы</button>
    </div>
</div>

    

